<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-controls">
      <span class="header-label">WITHIN</span>
      <ion-button mode="md" (click)="presentActionSheet()" fill="clear" size="small">
        {{ limit }} miles
        <ion-icon name="chevron-down"></ion-icon>
      </ion-button>
      <span class="header-label">OF</span>
      <ion-button mode="md" (click)="openRegionModal()" fill="clear" size="small">
        {{ fromLabel }}
        <ion-icon name="chevron-down"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      [(ngModel)]="filterText"
      [debounce]="500"
      (ionChange)="setNearbyBeatdowns()"
      placeholder="Find a workout">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ title }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Location warning -->
  <ion-header *ngIf="locationFailure && !dismissed">
    <ion-toolbar color="warning">
      <ion-title>Location Services Disabled</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissLocationWarning()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Region Modal -->
  <ion-modal [(isOpen)]="showRegionModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Location</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeRegionModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item button (click)="selectMyLocation()">
            <ion-label><h2>My Location</h2></ion-label>
            <ion-icon name="locate-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-searchbar
          [(ngModel)]="regionSearchText"
          (ionInput)="filterRegions($event)"
          placeholder="Search for your city or region"
          animated
        ></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let region of filteredRegions" (click)="selectRegion(region)">
            <ion-label>
              <h2>{{region.region}}</h2>
              <p>{{region.city}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Main content -->
  <div *ngIf="days; else loading">
    <!-- location load failure message -->
    <ion-text color="medium" *ngIf="locationFailure && days?.length > 0">
      <h4 class="padding">
        Couldn't load location.
      </h4>
      <ng-container *ngIf="!dismissed">
        <h4 class="resolve-issue-container padding">
          <ion-text color="danger">
            To resolve this issue, modify the location privacy settings on your device for your web browser app (Safari/Chrome/etc.):
          </ion-text>
          <div class="buttons">
            <ion-button class="space-above" expand="block" color="primary" [href]="locationHelpLink" target="_blank">
              Learn More
            </ion-button>
            <ion-button class="space-above" expand="block" color="medium" fill="clear" (click)="dismissLocationWarning()">
              Dismiss
            </ion-button>
          </div>
        </h4>
      </ng-container>
    </ion-text>

    <!-- list of workouts, grouped by day -->
    <div *ngFor="let day of days">
      <h2 class="padding">
        {{ day.dateDisplay }}
      </h2>
      <ion-card class="bd-card" *ngFor="let bd of day.beatdowns" [class.has-link]="bd.website">
        <!-- website link -->
        <ion-button class="website-link" fill="clear" [href]="bd.website" target="_blank" *ngIf="bd.website">
          <ion-icon name="open-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <!-- header -->
        <ion-card-header>
          <ion-card-subtitle>
            <ion-text color="dark">{{ bd.milesFromMe | number:'1.1-1' }} mi</ion-text>
             • {{ bd.timeString }}
          </ion-card-subtitle>
          <ion-card-title [innerHtml]="bd.name | highlight:filterText"></ion-card-title>
        </ion-card-header>

        <!-- details -->
        <ion-card-content>
          <p *ngIf="showRegion"><b>Region:</b>&nbsp;<span [innerHtml]="bd.region | highlight:filterText"></span></p>
          <p><b>Type:</b>&nbsp;<span [innerHtml]="bd.type | highlight:filterText"></span></p>
          <p>
            <a
              target="_blank"
              href="https://www.google.com/maps/dir/?api=1&destination={{bd.address}}"
              [innerHtml]="bd.address | highlight:filterText">
            </a>
          </p>
          <p [innerHtml]="bd.notes | highlight:filterText"></p>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- no workouts nearby -->
    <ion-text color="medium" *ngIf="days.length === 0">
      <h3 class="padding">
        {{ emptyText }}
      </h3>
    </ion-text>

    <!-- infinite scroll handler -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOneWeek($event)" [disabled]="days.length === 0">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <!-- Empty state if no location is selected and modal is closed -->
  <div *ngIf="!myLocation && !showRegionModal">
    <ion-text color="medium">
      <h3 class="padding">
        No location selected.<br>
        Please choose a region or city to see nearby workouts.
      </h3>
      <ion-button expand="block" color="primary" (click)="openRegionModal()">
        Choose Location
      </ion-button>
    </ion-text>
  </div>

</ion-content>

<!-- loading spinner -->
<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
