<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()" *ngIf="!filterText">
        {{ limit }} miles
        <ion-icon name="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      [(ngModel)]="filterText"
      [debounce]="500"
      (ionChange)="setNearbyBeatdowns()"
      placeholder="Find a workout">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ title }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="days; else loading">
    <ion-text color="medium" *ngIf="locationFailure && days?.length > 0">
      <h4 class="pad-left">
        Couldn't load location, defaulting to downtown Boise
      </h4>
    </ion-text>
    <div *ngFor="let day of days">
      <h2 class="pad-left">
        {{ day.dateDisplay }}
      </h2>
      <ion-card *ngFor="let bd of day.beatdowns">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-text color="dark">{{ bd.milesFromMe | number:'1.1-1' }} mi</ion-text>
             • {{ bd.timeString }}
          </ion-card-subtitle>
          <ion-card-title [innerHtml]="bd.name | highlight:filterText"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="showRegion"><b>Region:</b>&nbsp;<span [innerHtml]="bd.region | highlight:filterText"></span></p>
          <p><b>Type:</b>&nbsp;<span [innerHtml]="bd.type | highlight:filterText"></span></p>
          <p>
            <a
              target="_blank"
              href="https://www.google.com/maps/dir/?api=1&destination={{bd.address}}"
              [innerHtml]="bd.address | highlight:filterText">
            </a>
          </p>
          <p [innerHtml]="bd.notes | highlight:filterText"></p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-text color="medium" *ngIf="days.length === 0">
      <h3 class="pad-left">
        {{ emptyText }}
      </h3>
    </ion-text>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOneWeek($event)" [disabled]="days.length === 0">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>

<!-- loading spinner -->
<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
